html {
  background-color: #f4fbfe;
}

.container {
  font-family: 'Avenir Next LT W01 Bold', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  padding-top: 0.1em;
  padding-bottom: 0.5em;
  margin: 0em;
}

/* about & projects */
.text {
  width: 60em;
}

p {
  font-size: 1.2em;
}

.text h3 {
  font-size: 1.5em;
}

.project {
  display: flex;
  align-items: center;
  margin: 0em 2em 2em 2em;
  width: 58em;
  text-decoration: none;
  border: 2px solid rgb(38, 109, 182);
  border-radius: 20px;
  box-shadow: 0 0 5px 2px rgba(38, 109, 182, 0.5);
  outline: 2px solid transparent;
  outline-offset: -4px;
}

.project img {
  width: 12em;
  max-height: 11em;
  padding: 2em 2em 2em 1em;
}

.project p {
  font-size: 1em;
}

.about-text {
  margin: 0em 1em 2em 2em;
}

a {
  text-decoration: none;
  font-size: 1.2em;
}

.main p {
  font-size: 1.2em;
  padding: 0em;
  margin: 0em;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 7em;
  margin-bottom: 3em;
}

.intro {
  margin: 3em;
}

.sections {
  display: flex;
  flex-direction: column;
}

.sections button {
  background-color: transparent;
  margin: 1em;
  border: 1px solid #266db6;
  box-sizing: border-box;
  color: #00132c;
  font-size: 1.5em;
  font-weight: 550;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sections button:hover,
.sections button:active {
  outline: 0;
}

.sections button:hover {
  background-color: transparent;
  cursor: pointer;
}

.sections button:before {
  background-color: #d5edf6;
  content: '';
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: 350ms ease-in;
  width: 100%;
  z-index: -1;
}

.sections button:hover:before {
  background-color: #6dcff6;
}

#nav {
  position: fixed;
  left: 55%;
  top: -2%;
  margin-top: 1%;
  background-color: #f4fbfe;
  flex-direction: row;
  font-size: 0.8em;
  filter: drop-shadow(-8px 8px 5px #74bbd4);
  border-radius: 0px 10px 10px 10px;
}

#nav button {
  margin: 0.5em;
  border: 1px solid #266db6;
  font-weight: 500;
  padding: 0.2em 0.5em;
}

#nav button:before {
  content: '';
  height: calc(90% + 3px);
  position: absolute;
  right: -3px;
  top: -3px;
  transition: 300ms ease-in;
}

#nav button:hover:before {
  background-color: #6dcff6;
}

.experience {
  display: flex;
}

.blog h3 {
  margin: 0.3em 0em;
  /* right: 0px;
  top: 0px; */
}

.blog p {
  margin: 1em 0em;
  /* right: 0px;
  top: 0px; */
}

.blog {
  /* position: relative;
  margin: 1em 0;
  border: 2px solid blue;
  background-color: #d5edf6;
  position: absolute;
  width: 50em; */
  position: relative;
  padding: 20px;
  background-color: #fff; /* Main content background color */
  z-index: 1; /* Ensure the content stays above the pseudo-element */
}

.blog::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px; /* Offset the background by 20px to the right */
  bottom: 0;
  left: 0;
  background-color: #bebcb5; /* Offset background color */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.blog-inside {
  /* padding: 1em;
  right: -7px;
  top: -9px;
  width: 50em;
  background-color: #d5edf6; */
}

@media (max-width: 750px) {
  h1 {
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .main p {
    font-size: 2em;
  }

  .sections button {
    padding: 16px 32px;
  }

  .project {
    margin-right: 20px;
    padding-right: 0.5em;
    width: 56em;
    align-items: start;
  }

  .project img {
    width: 12em;
    max-height: 11em;
    padding: 2em 2em 2em 1em;
  }

  .project p {
    font-size: 2em;
  }

  h2 {
    font-size: 2.5em;
    margin-left: 0.5em;
  }

  .text h3 {
    font-size: 2.5em;
  }

  .text p {
    font-size: 2em;
  }

  a {
    text-decoration: none;
  }

  #nav {
    top: 2%;
    margin-top: 0%;
  }
}
